<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-task']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vot'It</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="myPropositions" class="list-mini-content" padding>
  <ion-text color="primary">
    <h1>Proposition du groupe</h1>
    <h2>{{titreGroup}}</h2>
  </ion-text>

  <ion-card *ngFor="let item of myPropositions">
    <ion-item *ngIf="item.IdGroup == paramId" class="activated" color="light">
      <ion-card-header color="light">
        <ion-card-title>{{item.Title}}</ion-card-title>
        <ion-card-subtitle>
          <ion-icon color="primary" name="person"></ion-icon>
          {{item.Proposer}}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-item>

    <ion-item *ngIf="item.IdGroup == paramId" class="activated" color="light">
      <ion-card-content (click)="addUp(item.Id, item.Up)">
        <ion-icon color="primary" name="thumbs-up"></ion-icon>
        {{item.Up}}
      </ion-card-content>
      <ion-card-content (click)="addDown(item.id, item.Down)" slot="end">
        <ion-icon color="primary" name="thumbs-down"></ion-icon>
        {{item.Down}}
      </ion-card-content>
    </ion-item>
  </ion-card>
  <div *ngIf="myPropositions.length == 0" class="empty-list">
      Ce groupe ne contient aucune proposition.
  </div>
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Déconnexion</ion-title>
  </ion-toolbar>
</ion-footer>
