<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Vot'It</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchterm" (keydown)="search($event)" ></ion-searchbar>
  <ion-card *ngFor="let club of clubs">
  <ion-list>

    <ion-item>
      <ion-card-header color="light">
        <ion-card-title>{{club.name}}</ion-card-title>
        <ion-card-subtitle>{{club.description}}</ion-card-subtitle>
      </ion-card-header>
    </ion-item>

    <ion-item>
    <ion-card-content>
      <ion-icon name="pin" color="primary"></ion-icon> {{club.location}}
    </ion-card-content>
    <ion-card-content slot="end">
      <ion-icon name="person" color="primary"></ion-icon> {{club.nb_people}} | <ion-icon name="clipboard" color="primary"></ion-icon> {{club.nb_proposal}}
    </ion-card-content>
    </ion-item>

  </ion-list>
  </ion-card>
</ion-content>




