<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-task']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vot'It</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="items" class="list-mini-content" padding>
  <ion-text color="primary">
    <h1>Mes groupes</h1>
  </ion-text>

<ion-card *ngFor="let item of myGroups">
  <ion-item [routerLink]="['/list-proposition/', item.id]" class="activated" color="light">
    <ion-card-header color="light">
      <ion-card-title>{{item.Name}}</ion-card-title>
      <ion-card-subtitle>{{item.Description}}</ion-card-subtitle>
    </ion-card-header>
  </ion-item>

  <ion-item [routerLink]="['/list-proposition', item.Id]" class="activated" color="light">
    <ion-card-content>
      <ion-icon name="pin" color="primary"></ion-icon> {{item.Location}}
    </ion-card-content>
    <ion-card-content slot="end">
      <ion-icon name="person" color="primary"></ion-icon> {{item.Nb_People}} | <ion-icon name="clipboard" color="primary"></ion-icon> {{item.Nb_Proposal}}
    </ion-card-content>
  </ion-item>
</ion-card>

  <!-- <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
        <ion-thumbnail slot="start">
          <img [src]="item.payload.doc.data().image">
        </ion-thumbnail>
        <ion-label>{{item.payload.doc.data().title}}</ion-label>
        <ion-button fill="clear" slot="end">Details</ion-button>
      </ion-item>
    </ion-list>
  </div>-->
  <div *ngIf="items.length == 0" class="empty-list">
    Vous n'avez pas encore de groupe.
  </div>
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Déconnexion</ion-title>
  </ion-toolbar>
</ion-footer>
