<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row>
      <ion-col offset="3" size="6">
        <img [src]="image" alt="this is the image"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="3" size="6">
        <ion-button (click)="openImagePicker()" expand="block" fill="outline" size="small">Change Picture</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <form (ngSubmit)="onSubmit(validations_form.value)" [formGroup]="validations_form">
    <ion-item>
      <ion-label color="primary" position="floating">Title</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Description</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>
    <ion-button [disabled]="!validations_form.valid" class="submit-button" expand="block" type="submit">Save
    </ion-button>
  </form>
  <ion-button (click)="delete()" class="delete-button" color="danger" expand="block">Delete</ion-button>

</ion-content>
